<html>

<nav> 
    <a href="home.html"> Home </a> &nbsp;
    <a href="books.html"> Books </a> &nbsp; 
</nav>

<title>Books</title>

<body>

<h1>Books</h1>

<p>Here is our selection of books! Click one to find out more information.</p>
<br>
<p>
    <a href="book1.html">
    <img alt="divergent" src="book1.jpg" width="150" height="150"> The Divergent Series: Divergent</a>

</p>
<br>
<p>
    <a href="book2.html">
    <img alt="insurgent" src="book2.jpg" width="150" height="150"> The Divergent Series: Insurgent</a>
</p>
<br>
<p>
    <a href="book3.html">
    <img alt="allegiant" src="book3.jpg" width="150" height="150"> The Divergent Series: Allegiant</a>
</p>
</body>
</html>